--extra-index-url https://download.pytorch.org/whl/cu128
torch==2.8.0
torchvision==0.23.0
torchaudio==2.8.0
transformers==4.57.3
# fa283 whl for torch280 + cu12x + cp310
https://github.com/Dao-AILab/flash-attention/releases/download/v2.8.3/flash_attn-2.8.3+cu12torch2.8cxx11abiFALSE-cp310-cp310-linux_x86_64.whl
accelerate==1.12.0